
.homepage-text{
    text-align: center;

    h1, h2 {
        color: wheat;
        text-decoration: none;
        font-weight: 500;
        font-family: 'DelightedB';
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 1.5rem;
    }
}