@font-face {
    font-family: 'DelightedB';
    src: url('/app/src/assets/fonts/DelightedBDemoRegular.ttf') format('truetype');
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 2vh;
    margin: 2vh;
    justify-content: center; /* Center the entire content */
    position: relative; /* For absolute positioning */

    .logo-container {
        position: absolute;
        left: 2vh; /* Adjust as needed */
        top: 0.2vh;
        width: 10rem;
        height: auto;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .nav-elements {
        display: flex;
        gap: 4rem;
    }

    a {
        color: wheat;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 300;
        font-family: 'DelightedB';
    }
}

